@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=MedievalSharp&family=Metamorphous&display=swap');
*{
    font-family: 'Metamorphous', cursive;
    margin: 0;
    padding: 0;
}

/*common*/

#ring{ 
    width: 30px;
    transform: rotate(-38.5deg);
    padding-right: 10px;
}

#ring:hover{
    width: 60px;
    transition: width 1.5s;
}        

body{
    background-image:url(../img/fondohtml.jpg) ;
    height: 100vh;
    width: 100vw;
    background-position:center;
    z-index: 1;
}

.container-all{
    padding-left:50px ;
    padding-right:50px ;
    min-width: 100vw;
}


/*nav-bar*/

.container-fluid{
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
}

.nav-item:hover{
    font-size: larger;
    transition: font-size 1.5s;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 30px;
    margin-top: 20px;
}


/*h1*/
h1{
    text-align: center;
    padding-top: 50px;
}


/*index*/

.grid-container-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.grid-item1-index{
    font-size: smaller;
    padding-bottom: 100px;
    
}

.map{
    height:auto;
    width: 100%;
}

span{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.grid-item2-index{
    font-size: smaller;
    padding-top: 50px;
}

.p1{
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    transform: translate(0,-40px);
    opacity: calc(75%);
}


/*footer*/

footer{
    margin-top: 200px;
}

.group-icons{
    display: flex;
    justify-content: space-evenly;
}

.group-icons>div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-icons{
    width: 30px;
    height: auto;
}

.copyright-author{
    text-align: center;
}
/*end footer*/



/*author html #2*/ 
.h2-author{
    margin-bottom: 3em;
}

.h3-author{
    font-size:x-small;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

/*Grid#1 del html About the Author
que posee 2 columnas y 2 filas */
.grid-container-authors1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-item1-authors1{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1.25px;
    line-height: 32px;
    padding-right: 30px;
}

.img-tolkien-author-dates{
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 25px;
}

.grid-item2-authors1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    letter-spacing: 1.25px;
    line-height: 32px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.img-tolkien-author{
    padding-left: 30px;
    padding-right: 20px;
}


/*Grid#2 del html About the Author
que posee 2 filas, la superior en 1 columna unificada y la inferior dividida en 3 columnas */

.authors2{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

.grid-container-authors2{
    display:grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.books-image{
    width: 150px;
    height: 200px;
}


/*Responsive*/
/*responsive de index*/
/* A modo de aclaración de porqué no fue necesario implementar breakpoints sobre este html, debo decir que: la distribución de los elementos empleados permite que estos se reubiquen sin problemas en 1 única columna tanto a mayores como menores resoluciones.
Por lo tanto para evitar el uso de código innecesario no se emplearon breakpoints en este html.*/
/* @media (min-width: 500px) */

/* @media (min-width: 768px) */

/* @media (min-width: 1024px) */


/*responsive de about the author*/
/* break de 0-500px Authors */
@media (min-width: 500px) {
.grid-container-authors1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%; 
    }

.grid-item1-authors1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        

.grid-item2-authors1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

/* break de 500-768px Authors */
@media (min-width: 768px) {
    .grid-container-authors1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%; 
    }

.grid-item1-authors1{
        display: flex;
        flex-direction: column;
        align-items: center;
}
}

/* @media (min-width: 768px) and (max-width: 1024px)
Breakpoint innecesario ya que no se rompe*/
/* @media (min-width: 1024px) {
}
} */





